/*content style*/
.x1{flex:1}
.p-15{padding:15px 0;}
.flex{display:flex;-webkit-display:flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row;flex-flow: row;position: relative;align-items:center;}
.flex.baseline{align-items:baseline;}
.flex.wrap{flex-wrap:wrap;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-o-flex-wrap:wrap;-ms-flex-wrap:wrap;}
.flex.space-between{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.flex.center{justify-content:center;-webkit-justify-content:center;}
.niluo_box{margin:0 10%;font-size:14px;}
.niluo_box h3{color:#fefefe;}
.niluo_box .login_btn input,.login_win .login_btn input{margin-top:20px;width:126px;height:35px;border-radius:4px;-webkit-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;}
.niluo_box .input_txt{background:transparent;text-align:left;color:#9ca1b2;border-bottom:2px solid #3d4585;border-top:none;border-left:none;border-right:none;border-radius:0;opacity:.5;}
.niluo_box .label{height:70px;display:flex;align-items:flex-end;}
.niluo_box .code{float:left;margin:0 0 0 15px;}
.niluo_box .login_btn input{width:100% !important;}
.niluo_con{margin-top:20px;}
.txt{color:#fefefe;font-size:14px;}
.m-40{margin:0 40px;}
.niluo_con .sub_line{margin-top:50px;}
.ico-close:before{content:"\e600";}
.ico-qq:before{content:"\e601";}
.ico-wechat:before{content:"\e62c";}
.ico-sina:before{content:"\e712";}
.ico-movie:before{content:"\e630";}
.ico-item:before{content:"\e602";}
.ico-member:before{content:"\e606";}
.ico-download:before{content:"\e615";}
.ico-add:before{content:"\e737";}
.ico-edit:before{content:"\e609";}
.ico-delete:before{content:"\e738";}
/*register style*/
.h_only .logo{margin:20px;}
.code{height:34px;line-height:34px;font-size:14px;padding:0 10px;background:#3c4585;color:#fefefe;border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-mox-border-radius:4px;-ms-border-radius:4px;}
.tip{text-align:left;padding:15px 0;}
.tip p{margin-left:10px;color:#9ca1b2;}
.tip p a{color:#2196f3;}
.niluo_box div:last-child a:nth-child(1){color:#2196f3;}
.niluo_box div:last-child a:nth-child(2){color:#9ca1b2;}
.niluo_box div:last-child a:nth-child(3){color:#9ca1b2;}
/*login*/
.login{background:#2b2d3c;width:100%;height:100%;}
.login_bg{height:100%;width:auto;background:url(../images/login_bg.png) no-repeat center;}
.bg_logo{padding:20px 0 40px;}
.login_conainter{position:absolute;top:0;left:0;bottom:0;right:0;text-align:center;margin:auto;width:500px;height:400px;}
.login_win{margin:0 25% }
.login_win .label{margin:25px 0}
.login_win .input_txt{background:rgba(89,180,252,.15);height:30px;text-align:center;color:#fefeff;}
/*login test2*/
.login_con{width:400px;height:500px;font-size:14px;}
.login_msg{width:100%;height:100%;background:url(../images/log_bg.jpg) no-repeat center;background-size:100% 100%;}
.login_con .login{padding:30px 50px;}
.login_con .login form div:last-child a:nth-child(1){color:#9ca1b2;}
.login_con .login form div:last-child a:nth-child(2){color:#2196f3;}
.more_line{width:100%;height:1px;background:#3c4585;position:relative;z-index:1;margin:20px 0;}
.more_line span{display:block;margin-top:-11px;position:absolute;left:50%;margin-left:-48px;z-index:10;width:90px;text-align:center;background: #2b2d3c;color:#9ca1b2;}
.more_box{margin:35px auto 0;width:200px;}
.more_box > ul > li{flex:1;}
.more_box > ul > li > a{display:block;width:42px;height:42px;line-height:42px;text-align:center;color:#9ca1b2 !important;margin:auto;border-radius:50%;background:#3c4585;font-size:32px;transition:background .2s linear;-webkit-transition:background .2s linear;-moz-transition:background .2s linear;-o-transition:background .2s linear;-ms-transition:background .2s linear;}
.more_box > ul > li > a:hover{background:#fff;}
.more_box > ul > li:nth-child(1) > a:hover{color:#3caae3 !important;}
.more_box > ul > li:nth-child(2) > a:hover{color:#58bc46 !important;}
.more_box > ul > li:nth-child(3) > a:hover{color:#e90e24 !important;}
.nilo_all{height:100%;background: #2b2d3c;}
.wrap_auto{width:1200px;margin:auto;}
.nilo_back{height:50px;line-height:50px;}
.nilo_back > a{color:#adadad;}
.nilo_txt_container{color:#adadad;}
.nilo_txt_container .nilo_txt{box-shadow:0 0 54px rgba(4,9,41,.5);padding:100px 50px 50px;}
.nilo_txt_container .nilo_txt h2{font-size:20px;margin-bottom:32px;text-align:center;color:#EDEDED;}
.nilo_txt_container .nilo_txt p,.nilo_txt_container .nilo_txt dl dt,.nilo_txt_container .nilo_txt dl dd{line-height:24px;margin-bottom:30px;font-size:15px;}
.footer{padding:100px 0 50px 0;}
.align_txt{text-align:center;}
.align_txt img{width:10%;}
.nilo_copy{margin-top:24px;}
.nilo_copy p{line-height:24px;font-size:15px;color:#adadad;}
/*header*/
.warp_auto{margin:0 2%;}
.header{width:100%;height:60px;position:absolute;top:0;background:#2f3242;}
.header > div{height:100%;}
.into{flex:1 1 auto;-webkit-box-flex: 1;-ms-box-flex:1;text-align:right;color:#fff;}
.into .ico-close{font-size:22px;font-weight:lighter;color:rgba(255,255,2555,.5);}
.main{position:absolute;top:60px;bottom:0;left:0px;right:0;background:#fff;}
/*leftbar*/
.leftbar{width:180px;float:left;height:100%;box-shadow:3px 0 80px rgba(23,24,32,.3);background:#2f3242}
.nav-list > ul >li{height:55px;line-height:55px;border-bottom:1px solid rgba(255,255,255,.1);text-align:center;}
.nav-list > ul > li > a{display:block;color:#9ca1b2;font-size:14px;}
.nav-list > ul > li > a > i{font-size:18px;margin-right:5px;}
/*rightbar*/
.rightbar{position:absolute;right:0;left:180px;top:0;bottom:0;height:100%;overflow:auto;}
.glob_box{}
.sub_title{height:50px;padding:5px 0;line-height:40px;background:#237ec9;}
.sub_title > h2{color:#fff;font-size:14px;padding-left:30px;}
.sub_title > ul > li{float:left;width:70px;padding:0 10px;text-align:center;position:relative;}
.sub_title > ul > li:after{content:'';display:block;position:absolute;right:0;top:0;width:1px;height:100%;background:#1765a6;box-shadow:0 0 3px #2c8edf;-webkit-box-shadow:0 0 3px #2c8edf;-moz-box-shadow:0 0 3px #2c8edf;-o-box-shadow:0 0 3px #2c8edf;-ms-box-shadow:0 0 3px #2c8edf;}
.sub_title > ul > li:last-child:after{height:0;width:0;}
.sub_title > ul > li > a{display:block;font-size:14px;color:#2b2d3c;}
.hvr-shutter-out-horizontal{display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;-webkit-transition-property: color;transition-property: color;
-webkit-transition-duration: 0.3s;transition-duration: 0.3s;color:#585957;}
.hvr-shutter-out-horizontal:before{content:"";position: absolute;z-index: -1;bottom:-5px;width:80%;left:0;right:0;margin:auto;background:#fefefe;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;padding:1px 0;}
.hvr-shutter-out-horizontal:hover a,.hvr-shutter-out-horizontal:focus:before,.hvr-shutter-out-horizontal.active:before,.hvr-shutter-out-horizontal:focus{-webkit-transform: scaleX(1);transform: scaleX(1);color:#fefefe;}
.hvr-shutter-out-horizontal.active a{color:#fefefe;}
.col_txt{line-height:35px;color:#2196f3;display:block;width:100px;}
.col_fw{margin-left:55px;}
.col_fw .info_btn{width:100px;height:35px;}
.col_fw .info_btn a{display:block;width:100%;height:100%;line-height:35px;text-align:center;margin-top:0px;background:#2196f3;color:#fefefe;border-radius:4px;-webkit-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;}
.container{padding:0 30px;}
.user_into{width:500px;}
.div_list{padding:10px 0;}
.user{width:70px;height:70px;border-radius:100%;background:#000;border:1px solid rgba(255,255,255,.1);overflow:hidden;}
.user img{width:100%;height:100%;}
.info_button{width:126px;height:34px;margin:auto;}
.info_button input,.video_deal>ul>li .video_btn input,.login_btn input{width:100%;height:100%;background:#2196f3;border:0 none;cursor:pointer;color:#fff;}
.input_txt{width:100%;height:25px;line-height:25px;border:2px solid #2196f3;background:transparent;border-radius:20px;outline:none;color:rgba(255,255,255,.5);text-indent:15px;}
.textarea{height:90px;resize:none;}
.info_footer input{width:125px;height:34px;border-radius:4px;border:0 none;color:#fefefe;}
.info_footer input:nth-child(1){background:#2196f3;}
.info_footer input:nth-child(2){background:#404359;}
.section_col_1{width:160px;padding-left:60px;}
.section_col_2{width:340px;}
/*tab*/
.tab{margin-top:50px;font-size:12px;border-spacing:0 15px;}
.tab tr th{color:#9ca1b2;}
.tab tr td{text-align:center;vertical-align:middle;overflow:hidden;color:#fefefe;background:#3a3e52;padding:20px 10px;}
.tab tr th:nth-child(1),.tab tr td:nth-child(1){width:5%;}
.tab tr th:nth-child(2),.tab tr td:nth-child(2){width:10%;}
.tab tr th:nth-child(3),.tab tr td:nth-child(3){width:20%;}
.tab tr td:nth-child(3){text-align:left;}
.tab tr th:nth-child(4),.tab tr td:nth-child(4){width:5%;}
.tab tr th:nth-child(5),.tab tr td:nth-child(5){width:10%;}
.tab tr th:nth-child(6),.tab tr td:nth-child(6){width:10%;}
.tab tr th:nth-child(7),.tab tr td:nth-child(7){width:30%;}
.tab tr th:nth-child(8),.tab tr td:nth-child(8){width:10%;}
.tab_msg{width:30px;height:30px;margin:auto;border-radius:50%;border:2px solid rgba(255,255,255,.7);overflow:hidden;}
.tab_msg img{width:100%;height:100%;}
.tab_info a{display:inline-block;width:36px;height:24px;line-height:24px;border:1px solid #237ec9;border-radius:4px;color:#fefefe;}
.tab_info a:hover{background:#2196f3;}
/*视频待发布*/
.video_deal{width:100%;}
.video_container{padding:15px;text-align:center;}
.video_deal>ul>li{width:25%;padding-bottom:15px;;float:left;box-sizing:border-box;}
.video_deal>ul>li .video_msg{width:200px;height:126px;background:#3a3e52;margin:auto;border-radius:4px;overflow:hidden;}
.video_deal>ul>li .video_title{line-height:45px;color:#fefefe;overflow:hidden;}
.video_deal>ul>li .video_describe{color:#9ca1b2;text-align:left;padding:0 30px;font-size:14px;}
.video_deal>ul>li .video_btn{width:50%;height:35px;margin:auto;margin-top:20px;}
/*视频列表*/
.videolist_tab tr th:nth-child(1),.tab tr td:nth-child(1){width:5%;}
.videolist_tab tr th:nth-child(2),.tab tr td:nth-child(2){width:5%;}
.videolist_tab tr th:nth-child(3),.tab tr td:nth-child(3){width:5%;}
.videolist_tab tr th:nth-child(4),.tab tr td:nth-child(4){width:5%;}
.videolist_tab tr th:nth-child(5),.tab tr td:nth-child(5){width:10%;}
.videolist_tab tr th:nth-child(6),.tab tr td:nth-child(6){width:15%;}
.videolist_tab tr th:nth-child(7),.tab tr td:nth-child(7){width:5%;}
.videolist_tab tr th:nth-child(8),.tab tr td:nth-child(8){width:5%;}
.videolist_tab tr th:nth-child(9),.tab tr td:nth-child(9){width:10%;}
.videolist_tab tr th:nth-child(10),.tab tr td:nth-child(10){width:5%;}
.videolist_tab tr th:nth-child(11),.tab tr td:nth-child(11){width:5%;}
.videolist_tab tr th:nth-child(12),.tab tr td:nth-child(12){width:5%;}
.videolist_tab tr th:nth-child(13),.tab tr td:nth-child(13){width:20%;}
/*视频信息*/
.video_info .div_list{padding:18px 0;}
.video_info .div_list .info_button{float:left;}
.video_info .div_list:nth-child(1) .section_col_2,.video_info .div_list:nth-child(2) .section_col_2{display:flex;-webkit-display:flex;}
.label_sel em{color:#9ca1b2;padding:0 35px 0 20px;}
.label_sel input[type=radio]:checked em{color:#fff;}
/*购买会员*/
.figure_con{width:100%;background:#3a3e52;padding:15px;}
.figure_con span.txt .price{font-size:20px;}
.account_con{margin-top:20px;}
.account_con .con_title{font-size:18px;color:#9ca1b2;}
.sub_line{width:100%;height:1px;background:#9ca1b2;opacity:.3;}
.account_con .tab{margin-top:20px;}
.account_con .tab tr th:nth-child(3),.account_con .tab tr td:nth-child(3){text-align:center;}
/*账户充值*/
.niluo_con .item{padding:20px 0;}
.only_con{margin:auto;width:50%;margin-top:120px;text-align:center;}
.only_con > p.txt{color:#9ca1b2;}
.only_con > .col_fw{margin-left:0;float:none;margin-top:25px;}
.only_con > .col_fw .info_btn{margin:auto;}
.niluo_con .list_item{width:268px;height:202px;background:#3a3e52;justify-content:center;}
.niluo_con .list_item p{font-size:24px;color:#fff;}
.niluo_pay > ul.tabs{float: none;list-style: none;position: relative;}
.niluo_pay > ul.tabs > li{float:left;display:block;}
.niluo_pay ul.tabs input[type="radio"] {position:absolute;top:-9999px;left:-9999px;}
.niluo_pay ul.tabs label {display:block;width:146px;height:40px;line-height:40px;text-align:center;color:#fff;background:#3a3e52;float:left;margin-right:30px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;cursor: pointer;position: relative;top: 4px;-webkit-transition:all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.niluo_pay ul.tabs .tab-content {z-index:12;display:none;overflow:hidden;width:100%;font-size:14px;line-height:25px;height:auto;margin:30px 0 0 15px;
position: absolute;top:30px;left:0;color:#9ca1b2;}
.niluo_pay ul.tabs [id^="tab"]:checked + label {background:#3d4585;}
.niluo_pay ul.tabs [id^="tab"]:checked ~ [id^="tab-content"] {display: block;}
.balance_box{margin-top:40px;}
.balance_box .balance_con p em{font-size:20px;color:#2196f3;}
/*添加编辑*/
.mang_list{width:262px;height:200px;background:#3a3e52;padding:15px;margin:0 15px 20px 0;position:relative;}
.mang_list p{line-height:30px;color:#9ca1b2;}
.mang_list a.add{display:block;width:100%;height:100%;text-align:center;line-height:158px;color:#9ca1b2;}
.mang_list > .list_a{position:absolute;bottom:15px;}
.mang_list > .list_a a{color:#9ca1b2;font-size:20px;margin-right:10px;}
/*附加搜索样式*/
.search_container{padding:20px 0;}
.search_list{width:25%;padding-right:20px;float:left;display:flex;display:-webkit-flex;display:-moz-flex;align-items:center;}
.search_list span{display:block;width:35%;float:left;color:#fefefe;font-size:14px;}
.search_list .search_con{width:65%;float:left;}
.account_search .input_txt{border-radius:0;border:2px solid #3d4585;}
.account_search span{color:#9ca1b2;}
.account_search .info_button{width:76px;height:31px;}
.account_search .info_button input{background:#3d4585;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;}
/*弹窗一*/
.mask{width:100%;height:100%;position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.5);z-index:998;display:none;}/*遮罩层*/
.pop{width:600px;height:300px;background:#3a3e52;z-index:999;padding:20px;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;display:none;}
.pop_con .pop_title{color:#fff;}
.pop_con .niluo_box{margin:0 20%;}
.pop_con .close_pop{display:block;width:20px;height:20px;line-height:15px;color:#fcfcfc;border-radius:50%;border:1px solid #fcfcfc;text-align:center;}
.pop_con .niluo_box .login_btn{margin:20px auto 0;width:50%;}
.pop_con .niluo_box .input_txt{text-align:center;}
/*弹窗二*/
.edit_pop{width:520px;height:500px;}
.edit_box{width:80%;margin:auto;margin-top:50px;}
.edit_box .item_form{display:flex;-webkit-display:flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row;flex-flow: row;align-items:center;margin-bottom:25px;}
.edit_box .item_form > span{width:120px;text-align:right;color:#9ca1b2;}
.edit_box .item_form > .input_txt{border:1px solid #9ca1b2;border-radius:0;}
.edit_box .item_form > textarea.input_txt{resize:none;height:50px;}
.edit_box .edit_tip p{color:#2196f3;}
.edit_box .edit_tip p:nth-child(3n+0){color:#9ca1b2;}
.edit_box .sub_line{position:absolute;left:0;margin-top:20px;}
.edit_box .info_btn{float:right;margin-top:40px;}
.edit_box .info_btn > a{display:inline-block;width:100px;height:35px;line-height:35px;text-align:center;margin-top:0px;background:#2196f3;color:#fefefe;border-radius:4px;-webkit-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;margin-right:10px;}
.edit_box .info_btn > a:nth-child(1){background:#3c4585;}
.delete_pop{width:520px;height:300px;}
.delete_pop .item_form p{color:#9ca1b2;}
/*分页*/
.page{text-align:center;}
.page span{color:#9ca1b2;}
.page .active{color:#2196f3;}
.page a{color:#fefefe;}
.page span,.page a{display:inline-block;margin:10px;}
/*error*/
.error_txt{color:#feffff;font-size:14px; padding-top:10px;}

.input_txt[type=text]:focus,.input_txt[type=password]:focus,textarea:focus{border:1px solid #2196f3;}
.account_search input::-webkit-input-placeholder{color:#9ca1b2;}/* WebKit browsers */
.account_search input::-moz-placeholder{color:#9ca1b2;}/* Mozilla Firefox 19+ */
.account_search input:-moz-placeholder{color:#9ca1b2;}/* Mozilla Firefox 4 to 18 */
.account_search input:-ms-input-placeholder{color:#9ca1b2;}/* Internet Explorer 10+ */


input::-webkit-input-placeholder{color:#fefeff;}/* WebKit browsers */
input::-moz-placeholder{color:#fefeff;}/* Mozilla Firefox 19+ */
input:-moz-placeholder{color:#fefeff;}/* Mozilla Firefox 4 to 18 */
input:-ms-input-placeholder{color:#fefeff;}/* Internet Explorer 10+ */
/*change radio&&checkbox style*/
input[type=checkbox],input[type=radio],select{-webkit-appearance: none;appearance: none;width: 13px;height: 13px;margin: 0;cursor: pointer;vertical-align: bottom;background:transparent;border: 1px solid #dcdcdc;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;}
input[type=radio] {-webkit-border-radius: 1em;-moz-border-radius: 1em;border-radius: 1em;width: 15px;height: 15px;}
input[type=radio]:checked {background:transparent;transform:scale(1.5);-webkit-transform:scale(1.5);-o-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);}
input[type=radio]:checked::after {content: '';display:block;position: relative;top: 3px;left:3px;width:7px;height: 7px;background: #2196f3;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;}
input[type=checkbox]:checked::after{top:10px;left:5px;width:10px;box-shadow: 0 0 0 1px #2196f3;-moz-transform: rotate(-55deg);-ms-transform: rotate(-55deg);-o-transform: rotate(-55deg);-webkit-transform: rotate(-55deg);transform: rotate(-55deg);}
input[type=checkbox]:checked::before {top:9px;left:3px;width:2px;box-shadow: 0 0 0 1px #2196f3;-moz-transform: rotate(-135deg);-ms-transform: rotate(-135deg);-o-transform: rotate(-135deg);-webkit-transform: rotate(-135deg);transform: rotate(-135deg);}
input[type=checkbox]::before,input[type=checkbox]::after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;position: absolute;height: 0;display: inline-block;-moz-transform-origin: left top;-ms-transform-origin: left top;-o-transform-origin: left top;-webkit-transform-origin: left top;transform-origin: left top;content: ' ';-webkit-transition: opacity ease .5;-moz-transition: opacity ease .5;transition: opacity ease .5;}
input[type=checkbox]{border: 1px solid #505464;top:1px;}
input[type=checkbox]:focus,input[type=radio]:focus {outline: none;}
select{width:100%;height:35px;line-height:35px;border:2px solid #2196f3;border-radius:20px;outline:none;color:rgba(255,255,255,.5);text-indent:15px;position:relative;background:url(../images/arrow-bottom.png) no-repeat 90% 12px;}
.select select option{background:#2b2d3c;}

.dis{color:#a9a9a9!important;}