<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
       
   <!-- shiro缓存 -->
   <bean id="ehcacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:spring/ehcache-shiro.xml" />
   </bean>
   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<!-- <value>classpath:resources\memcached.properties</value> -->
					<!-- <value>classpath:config\${runmodel}\app.properties</value> -->
					<value>classpath:config\dev\app.properties</value>
				</list>
			</property>
	</bean> 
	<bean  
    class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
    <property name="exceptionMappings">  
        <props>  
            <prop key="org.apache.shiro.authz.UnauthorizedException">  
                /unauthorized  
            </prop>  
            <prop key="org.apache.shiro.authz.UnauthenticatedException">  
                /unauthenticated  
            </prop>  
        </props>  
    </property>  
</bean>  
    <import resource="classpath*:spring/spring-beans.xml"/>
	<!-- <import resource="classpath*:spring/spring-message.xml"/> -->
    <import resource="classpath*:spring/spring-scan.xml"/>
    <import resource="classpath*:spring/spring-datasource.xml"/>
    <import resource="classpath*:spring/spring-mybatis.xml"/>
	
</beans>