<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		  destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL">
					<value>tcp://115.231.34.172:51616</value>
				</property>
				<property name="userName">
					<value>admin</value>
				</property>
				<property name="password">
					<value>admin</value>
				</property>
			</bean>
		</property>
		<property name="maxConnections" value="100"></property>
	</bean>


	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory"/>
		<property name="messageConverter">
			<bean class="org.springframework.jms.support.converter.SimpleMessageConverter"/>
		</property>
	</bean>


	<bean id="destinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg name="name" value="${activemq.queue}"/>
	</bean>
	<bean id="messageListener" class="com.nilo.service.MyMessageListener">
	</bean>
	<bean id="jmsContainer"
		  class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsFactory"/>
		<property name="destination" ref="destinationQueue"/>
		<property name="messageListener" ref="messageListener"/>
	</bean>





	<bean id="ffmpegQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg name="name" value="${activemq.ffmpeg}"/>
	</bean>
	<bean id="ffmpegListener" class="com.nilo.service.FfmpegMQListener">
	</bean>
	<bean id="ffmpegContainer"
		  class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsFactory"/>
		<property name="destination" ref="ffmpegQueue"/>
		<property name="messageListener" ref="ffmpegListener"/>
	</bean>
	
</beans>